{{#shapes}}
.icon--{{base}} {
    width : {{width.outer}}px;
    height : {{height.outer}}px;
    background-image : url("temp/sprites/css/{{{sprite}}}");
    backgroun-position: {{position.relative.xy}};
}
{{/shapes}}