.social-icons {
    text-align: center;

    &__icon {
    background-color: $orangeCarot;
    display: inline-block;
    margin : 0 5px;
    width: 40px;
    height: 55px;
    border-radius: 15px;
    @mixin atMedium {
    width: 72px;
    height: 72px;
    border-radius: 0px;

    }

    }


    img {
    margin-top: 14px;   
    width: 30px;
    height: 30px;

    @mixin atMedium {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    }
}